@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #835a41 16.62%,   #63249e 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: relative;
  bottom: 0;
  width: 100%;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo-1 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
  margin-top: 25px  ;
}

.conteudo-principal-escrito-subtitulo-1 {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ECD6C4;
  line-height: 1px;
}

.conteudo-principal-escrito-subtitulo-1-link {
  font-family: 'Sarala', sans-serif;
  color: #ECD6C4;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
}

.conteudo-2 {
  margin-top: 20px;
  padding: 0px;
    border-top: 0.4px solid #FFF2E7;
}


.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
  margin-top: 25px;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #ECD6C4;
}

.botao-discord {
  margin-left: 120px;
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;  
  width: 220px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 22px;  
  color: #2F2325;
  transition: all 0.5s ease-in;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
  transform: scale(1.1);
  cursor:pointer;
}

.conteudo-principal-imagem {
  height: 430px;
  position: relative;
  margin-top: 2%;
  border-radius: 15%;
}

.conteudo-principal-imagem-sobre {
  margin-top: 30px;
}

.bg-black {
  padding: 32px;
    border-top: 0.4px solid #FFF2E7;
  height: 550px;
  width: 1902px;
  background-color: black;  
  margin-top: 80px;
  margin-bottom: 0px;
  padding: 32px;
     border-bottom: 0.4px solid #FFF2E7;
} 

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin-top: 0px;
}


.conteudo-secundario-paragrafo-link {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  justify-content: center;
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color:white
}

.conteudo-secundario-paragrafo-link-ref {
  font-family: 'Sarala', sans-serif;
  color: white;
  text-decoration: underline;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
